.row {
    display:flex;
    justify-content: center;
    margin: 5px;
}

.row div{
    margin:5px;
    border:1px solid gray
}

.row button{
    width: 100%;
    padding: 5px;
    background-color: orange;
    color:white;
    border:none;
    border-radius: 5px;

}